:root {
    --primary-background-color: #1B1B1E;
    --secondary-background-color: #373F51;

    --primary-font-color: #58A4B0;
    --secondary-font-color: #D8DBE2;
}

*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--primary-background-color);
}

nav {
    margin-bottom: 5rem;
}

img {
    object-fit: cover;
}

header {
    padding: 3rem;
}

ul {
    background-color: var(--secondary-background-color);
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.8rem 5rem;
    border-radius: 1rem;
}

h1 {
    font-size: 5rem;
    color: var(--primary-background-color);
    font-weight: 900;
}

h2 {
    font-size: 3rem;
    color: var(--secondary-font-color);
}

p {
    font-size: 1.8rem;
    color: var(--secondary-font-color);
}

li a {
    font-size: 3rem;
    text-decoration: none;
    color: var(--primary-font-color);
}

nav li {
    list-style: none;
}

li a:visited {
    color: var(--primary-font-color);
}

li a:hover {
    color: var(--secondary-font-color);
}

li a:active {
    color: var(--secondary-font-color);
}

.logo {
    display: block;
    width: 50%;
    margin: 0 auto;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    width: 80%;
    height: 15rem;
    padding: 2rem;
    margin: 0 auto;
    background: url("../images/banner.jpg") no-repeat center;
    margin-bottom: 10rem;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 450px);
    grid-template-rows: 600px;
    grid-gap: 5rem;
    margin: 0 auto;
    justify-content: space-around;
    margin-bottom: 10rem;
}

.card img {
    width: 100%;
    height: 300px;
    border-radius: 1rem 1rem 0 0;
}

.card-body {
    background-color: var(--secondary-background-color);
    padding: 2rem;
    border-radius: 0 0 1rem 1rem;
}

.card-body a {
    color: var(--primary-font-color);
    text-decoration: none;
    font-size: 2rem;
}

.card-body h2, .card-body p {
    margin-bottom: 1rem;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 2rem;
    background-color: var(--secondary-background-color);
}

footer img {
    height: 5rem;
    padding-left: 4.5rem;
}

footer p {
    font-size: 1.5rem;
    text-align: end;
    padding-right: 4.5rem;
}

@media only screen and (max-width: 1500px) {
    .cards {
        grid-template-columns: repeat(2, 450px);
        grid-template-rows: 600px 600px;
    }
}


@media only screen and (max-width: 1000px) {
    .cards {
        grid-template-columns: 450px;
        grid-template-rows: 600px 600px 600px;
    }

    nav li {
        display: block;
        width: 100%;
        text-align: center;
    }

    .banner {
        margin-bottom: 5rem;
    }
}

@media only screen and (max-width: 850px) {
    h1 {
        font-size: 3.5rem;
    }
}

@media only screen and (max-width: 767px) {
    h1 {
        font-size: 2rem;
    }

    .cards {
        grid-template-columns: 300px;
        grid-template-rows: 500px 500px 500px;
        margin-bottom: 5rem;
    }

    .card img {
        height: 200px;
    }

    h2 {
        font-size: 1.8rem;
    }

    p {
        font-size: 1.5rem;
    }

    .card a {
        font-size: 2rem;
    }
}